<section class="chat-wrap">
  <!-- Live updates -->
  <%= turbo_stream_from [@partnership, :messages] %>
  <!-- Header -->
  <header class="chat-header">
    <h1 class="chat-title">Coach Chat</h1>
  </header>
  <!-- Messages -->
  <div id="messages" data-controller="autoscroll" class="chat-messages">
    <%= render @messages %>
  </div>
  <!-- Composer -->
  <footer class="chat-composer" id="new_message">
    <%= render partial: "messages/form", locals: { partnership: @partnership, message: @message } %>
  </footer>
</section>
