<div class="whole-page">
  <div class="banner">
    <div class="banner__row">
      <div class="banner__content">
        <h2>Grievances</h2>
        <p>Be honest here – your partner wants to listen.</p>
        <%= link_to new_partnership_grievance_path(@user.current_partnership), class: "btn banner__cta" do %>
          New Grievance
        <% end %>
      </div>
      <%= image_tag "#{current_user.username}.png", class: "banner__avatar", alt: @user.username %>
    </div>
  </div>
  <div class="section-header">
    <h2>Communication Growth Notes</h2>
  </div>
  <%= turbo_stream_from [:grievances_list, @user.current_partnership.id] %>
  <div class="card mood-log" style="margin-top:16px">
    <div class="grievance-list" id="grievance_list">
      <% viewed = session[:viewed_grievances] || [] %>
      <% @grievances.each do |grievance| %>
        <%= render "grievances/card",
            grievance: grievance,
            read: viewed.include?(grievance.id) %>
      <% end %>
    </div>
  </div>
</div>
