<header class="site-header" role="banner">
  <nav class="topbar" aria-label="Top navigation">
    <div class="topbar__left">
      <%= link_to root_path, class: "brand-logo", title: "Home" do %>
        <%= image_tag "icons/logo.svg", alt: "PureComm Logo", class: "logo-img" %>
      <% end %>
    </div>
    <div class="topbar__center">
      <%= link_to "PureComm", root_path, class: "brand" %>
    </div>
    <div class="topbar__right">
    </div>
  </nav>
</header>
