<section class="card">
  <h2 class="mb-3">Pick your mood</h2>
  <div class="feelings-grid">
    <button class="btn btn-icon">
      <%= inline_svg_tag "icons/happy.svg", class: "icon" %>
      <span>Happy</span>
    </button>
    <button class="btn btn-icon">
      <%= inline_svg_tag "icons/sad.svg", class: "icon" %>
      <span>Sad</span>
    </button>
    <button class="btn btn-icon">
      <%= inline_svg_tag "icons/anxious.svg", class: "icon" %>
      <span>Anxious</span>
    </button>
    <button class="btn btn-icon">
      <%= inline_svg_tag "icons/upset.svg", class: "icon" %>
      <span>Upset</span>
    </button>
  </div>
</section>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
