.alert {
  position: fixed;
  bottom: 100px;
  right: 16px;
  z-index: 1000;
}

.health-banner {
  background-color: #f8f9fb;
  border-radius: 16px;
  padding: 20px 16px;
  text-align: center;
  display: grid;
  gap: 10px;
  border: 1px solid #b2ababa7;
}

.arrow {
  font-size: 1.3rem;  // try 1.5rem or 2rem if you want bigger
  line-height: 1;
}
