#new_grievance {
  legend {
    display: none;
  }
}

.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.checkin_mood .category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 20%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
}

.category-selector:checked + label {
  // background-color: $gray !important;
  border: 1px solid $gray;
  color: transparent;
}


#grievance_feeling_happy + label {
  color: transparent;
  background-image: asset-url("icons/happy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_happy:checked + label {
  color: transparent;
}

#grievance_feeling_fine + label {
  color: transparent;
  background-image: asset-url("icons/fine.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_fine:checked + label {
  color: transparent;
}

#grievance_feeling_tired + label {
  color: transparent;
  background-image: asset-url("icons/tired.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_tired:checked + label {
  color: transparent;

}

#grievance_feeling_sad + label {
  color: transparent;
  background-image: asset-url("icons/sad.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_sad:checked + label {
  color: transparent;

}

#grievance_feeling_upset + label {
  color: transparent;
  background-image: asset-url("icons/upset.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_upset:checked + label {
  color: transparent;

}

#grievance_feeling_anxious + label {
  color: transparent;
  background-image: asset-url("icons/anxious.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#grievance_feeling_anxious:checked + label {
  color: transparent;

}

// #checkin_my_day_good + label {
//   color: transparent;
//   background-image: asset-url("icons/good.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// #checkin_my_day_good:checked + label {
//   color: transparent;
// }

// #checkin_my_day_bad + label {
//   color: transparent;
//   background-image: asset-url("icons/bad.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// #checkin_my_day_bad:checked + label {
//   color: transparent;
// }

// #checkin_discuss_true + label {
//   color: transparent;
//   background-image: asset-url("icons/yes.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// #checkin_discuss_true:checked + label {
//   color: transparent;
// }

// #checkin_discuss_false + label {
//   color: transparent;
//   background-image: asset-url("icons/no.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// #checkin_discuss_false:checked + label {
//   color: transparent;
// }
