#new_checkin {
  legend {
    display: none;
  }

  .category-item label {
    height: 70px;
    width: 100%;
    color: transparent;
    background-color: #b2ababa7;
    -webkit-mask-size: contain;
    mask-size: contain;
    border: none;
    cursor: pointer;
  }

  input[type="radio"]:not(#checkin_discuss_false, #checkin_discuss_true, #checkin_my_day_bad, #checkin_my_day_good):checked+label {
    color: transparent;
    background-color: #FFD166;
  }

  .talk-item label {
    width: 48x;
    height: 48px;
    color: transparent;
    -webkit-mask-size: contain;
    mask-size: contain;
    border: none;
    cursor: pointer;
  }
}

.category-feeling {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
}

.category-selector:checked+label {
  // background-color: $gray !important;

  color: transparent;
}

#checkin_mood_happy+label {
  -webkit-mask: asset-url("icons/happy.svg") no-repeat center;
  mask: asset-url("icons/happy.svg") no-repeat center;
}

#checkin_mood_fine+label {
  -webkit-mask: asset-url("icons/fine.svg") no-repeat center;
  mask: asset-url("icons/fine.svg") no-repeat center;
}

#checkin_mood_tired+label {
  -webkit-mask: asset-url("icons/tired.svg") no-repeat center;
  mask: asset-url("icons/tired.svg") no-repeat center;
}

#checkin_mood_sad+label {
  -webkit-mask: asset-url("icons/sad.svg") no-repeat center;
  mask: asset-url("icons/sad.svg") no-repeat center;
}

#checkin_mood_upset+label {
  -webkit-mask: asset-url("icons/upset.svg") no-repeat center;
  mask: asset-url("icons/upset.svg") no-repeat center;
}

#checkin_mood_anxious+label {
  -webkit-mask: asset-url("icons/anxious.svg") no-repeat center;
  mask: asset-url("icons/anxious.svg") no-repeat center;
}

#checkin_my_day_good+label {
  -webkit-mask: asset-url("icons/good.svg") no-repeat center;
  mask: asset-url("icons/good.svg") no-repeat center;
}

#checkin_my_day_bad+label {
  -webkit-mask: asset-url("icons/bad.svg") no-repeat center;
  mask: asset-url("icons/bad.svg") no-repeat center;
}

#checkin_discuss_true+label {
  -webkit-mask: asset-url("icons/yes.svg") no-repeat center;
  mask: asset-url("icons/yes.svg") no-repeat center;
  background-color: #b2ababa7;
  // opacity: .5;
}

#checkin_discuss_false+label {
  -webkit-mask: asset-url("icons/no.svg") no-repeat center;
  mask: asset-url("icons/no.svg") no-repeat center;
  background-color: #b2ababa7;
  // opacity: .5;
}

#checkin_my_day_good:checked+label {
  background-color: #6ED3CF;
}

#checkin_my_day_bad:checked+label {
  background-color: #FF6363;
}


#checkin_discuss_true:checked+label,
#checkin_discuss_false:checked+label {
  opacity: 1;
}

#checkin_discuss_true:checked+label {
  background-color: #6ED3CF;
}
#checkin_discuss_false:checked+label {
  background-color: #FF6363;
}

#new_checkin h2 {
  text-align: center;
}

.checkin-show {
  input[type="radio"]:not(:checked)+label {
    display: none;
  }
  .mood-icon {
    margin: auto;
  }

  .mood-label {
    font-size: .8rem;
  }

  .day-icon {
    fill: #6ED3CF;
    height: 70px;
    width: 100%;
    -webkit-mask-size: contain;
    mask-size: contain;
    border: none;
    cursor: pointer;
  }
}
