<%= simple_form_for [partnership, checkin] , html: {id: :nudge_form} do |f| %>
  <h2 class="checkin-title">Thanks for checking-in!</h2>
  <%= f.input :nudge,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'nudge-wrapper',
            item_wrapper_class: 'nudge-item',
            input_html: { data: {disable_inputs_target: "input"}, class: 'nudge-selector'},
            collection: @times %>
  <%= link_to "Back", checkin_path(checkin),
              class: "btn btn-primary hero-cta" %>
  <%= f.submit class: "btn btn-primary hero-cta" %>
<% end %>
