<div class="container">
  <% if @checkin.nudge.nil? %>
    <%= render 'checkins/nudge', checkin: @checkin, partnership: @partnership %>
  <% else %>
    <%= render 'checkins/show', checkin: @checkin, partnership: @partnership %>
  <% end %>
</div>
